@model IEnumerable<GameCenterMVC.Models.Bill>
@{
	ViewBag.Title = "BillsHistory";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<h2>@GameCenterMVC.Resources.Dashboard.Manage_Bills </h2>
<hr />

<div class="top-buffer"></div>
@*<div class="panel panel-primary">
	<div class="panel-heading panel-head"></div>
	<div class="panel-body">
		<div class="btn-group">
			<a href="@Url.Action("Create","Client")" , class="btn btn-outline-danger">
				<i class="fa fa-plus-circle"></i>  Add Member
			</a>
		</div>*@
		<hr />
		<div style="overflow-x:auto;"</div>
		<table class="table table-bordered table-striped table-condensed table-dark bg-dark">
			<thead>
				<tr>
					<th>BillID</th>
					<th>EmployeeID</th>
					<th>ClientID</th>
					<th>ComputerID</th>
					<th>StartTime</th>
					<th>EndTime</th>
					<th>Total</th>
					
				</tr>
			</thead>
			<tbody>

				@if (Model.Count() > 0)
				{
					foreach (var item in Model)
					{
						<tr>
							<td>@Html.DisplayFor(modelItem => item.BillID)</td>
							<td>@Html.DisplayFor(modelItem => item.EmployeeID)</td>
							<td>@Html.DisplayFor(modelItem => item.ClientID)</td>
							<td>@Html.DisplayFor(modelItem => item.ComputerID)</td>
							<td>@Html.DisplayFor(modelItem => item.StartTime)</td>
							<td>@Html.DisplayFor(modelItem => item.EndTime)</td>
							<td>@Html.DisplayFor(modelItem => item.Total)</td>

							@*<td>
								<a href="@Url.Action("Update", "Client", new { id = item.ClientID }) "
								   class="btn btn-info">
									<i class="fa fa-edit"></i>  Edit
								</a>
							</td>*@
							
							<td>
								<a href="@Url.Action("BillDetails", "Home", new { id = item.BillID }) "
								   class="btn btn-info" data-target="#MyModal" data-toggle="modal">
									<i class="fa fa-edit"></i> @GameCenterMVC.Resources.Employees.Details
								</a>
							</td>
							<td>
								<a onclick="Delete(@item.BillID)" ( class="btn btn-danger"><i class="fa fa-trash-o"></i>@GameCenterMVC.Resources.Employees.Delete</a>

							</td>
						</tr>
					}

				}
				else
				{
					<h2>No Data</h2>
				}
			</tbody>
		</table>
	</div>
</div>


@section scripts{
	<script>
    $(function () {
        var SuccessMessage = 'Success'
        if (SuccessMessage != '')
            alertify.success(SuccessMessage);

    });

    function Delete(id) {
        alertify.confirm('Warning !!', 'Are You Sure To Delete This Record ?', function () {
            window.location.href = '@Url.Action("Remove","Home")/' + id;
        }, null);
    }
	</script>
	<script src="~/Scripts/Modal/ResetModal.js"></script>


}

<link href="~/Content/Modal/Modal.css" rel="stylesheet" />
<div class="container">

	<div class="modal" id="MyModal" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">&times;</button>
					<h4>DemoModalTitle</h4>
				</div>
			</div>
		</div>
	</div>
</div>
