@model IEnumerable<GameCenterMVC.Models.ComputerParts>
@using GameCenterMVC.Resources

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
	<h2>@Dashboard.Manage_PcParts</h2>
	<hr />
	<div class="panel-body">
		<div class="btn-group">
			<a href="@Url.Action("Create","ComputerParts")" , class="btn btn-outline-danger">
				<i class="fa fa-plus-circle"></i>  @ComputerParts.Add_Part
			</a>
		</div>
		<hr />
		<div style="overflow-x:auto;"</div>
		<table class="table table-bordered table-striped table-condensed table-dark bg-dark">
			<thead>
				<tr>
					<th>PartID</th>
					<th>@ComputerParts.Case</th>
					<th>@ComputerParts.Mouse</th>
					<th>@ComputerParts.KeyBoard</th>
					<th>@ComputerParts.HeadSet</th>
					<th>@ComputerParts.Monitor</th>
					<th>@ComputerParts.MousePad</th>
					<th>@ComputerParts.CPU</th>
					<th>@ComputerParts.GPU</th>
					<th>@ComputerParts.MotherBoard</th>
					<th>@ComputerParts.RAM</th>
					<th>@ComputerParts.SSD</th>
					<th>@ComputerParts.HDD</th>
					<th>@ComputerParts.PSU</th>
					<th>@ComputerParts.Cooler</th>

				</tr>
			</thead>
			<tbody>

				@if (Model.Count() > 0)
				{
					foreach (var item in Model)
					{
						<tr>
							<td>@Html.DisplayFor(modelItem => item.PartID)</td>
							<td>@Html.DisplayFor(modelItem => item.Case)</td>
							<td>@Html.DisplayFor(modelItem => item.Mouse)</td>
							<td>@Html.DisplayFor(modelItem => item.KeyBoard)</td>
							<td>@Html.DisplayFor(modelItem => item.HeadSet)</td>
							<td>@Html.DisplayFor(modelItem => item.Monitor)</td>
							<td>@Html.DisplayFor(modelItem => item.MousePad)</td>
							<td>@Html.DisplayFor(modelItem => item.CPU)</td>
							<td>@Html.DisplayFor(modelItem => item.GPU)</td>
							<td>@Html.DisplayFor(modelItem => item.MotherBoard)</td>
							<td>@Html.DisplayFor(modelItem => item.RAM)</td>
							<td>@Html.DisplayFor(modelItem => item.SSD)</td>
							<td>@Html.DisplayFor(modelItem => item.HDD)</td>
							<td>@Html.DisplayFor(modelItem => item.PSU)</td>
							<td>@Html.DisplayFor(modelItem => item.Cooler)</td>
							<td>
								<a href="@Url.Action("Update", "ComputerParts", new { id = item.PartID })"
								   class="btn btn-info">
									<i class="fa fa-edit"></i> @Employees.Edit
								</a>
							</td>
							<td>
								<a href="@Url.Action("Details", "ComputerParts", new { id = item.PartID })"
								   class="btn btn-info" data-target="#MyModal" data-toggle="modal">
									<i class="fa fa-edit"></i> @Employees.Details
								</a>
							</td>
							<td>
								<a onclick="Delete(@item.PartID)" ( class="btn btn-danger"><i class="fa fa-trash-o"></i>@Employees.Delete</a>
							</td>
						</tr>
					}


				}
				else
				{
					<h2>No Data</h2>
				}
			</tbody>
		</table>
	</div>
</div>

@section Scripts{


	<script>
        $(function () {
        var SuccessMessage = 'Success'
        if (SuccessMessage != '')
            alertify.success(SuccessMessage);

    });

    function Delete(id) {
            alertify.confirm('GameCenter Management System', 'Are You Sure To Delete This Record ?', function () {
                window.location.href = '@Url.Action("Remove","ComputerParts")/' + id;
            }, null);
    }
	</script>
	<script src="~/Scripts/Modal/ResetModal.js"></script>
}

<link href="~/Content/Modal/Modal.css" rel="stylesheet" />
<div class="container">

	<div class="modal" id="MyModal" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">&times;</button>
					<h4>DemoModalTitle</h4>
				</div>
			</div>
		</div>
	</div>
</div>
