@model IEnumerable<GameCenterMVC.Models.Products>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Manage Products</h2>

<th>
	<a href="@Url.Action("Create","Product")" @*asp-action="Create"*@ class="btn btn-primary text-white"> <i class="fa fa-plus-circle"></i> New Product</a>
</th>
<table class="table
       <thead>
    <tr class="header">
        <!--<th>
        @Html.DisplayNameFor(model => model.InsertBy)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.InsertDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.UpdateBy)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.UpdateDate)
    </th>-->
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
	   <tr>
	   	<!--<td>
		@Html.DisplayFor(modelItem => item.InsertBy)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.InsertDate)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.UpdateBy)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.UpdateDate)
	</td>-->
	   	<td>
	   		@Html.DisplayFor(modelItem => item.Name)
	   </td>
	   <td>
	   	@Html.DisplayFor(modelItem => item.Price)
	   </td>
	   <td>
	   	@Html.DisplayFor(modelItem => item.Quantity)
	   </td>
	   <td>
	   	@Html.ActionLink("Update", "Update", new { id = item.ProductID }, new { @class = "btn btn-warning" })
	   <a onclick="Delete(@item.ProductID)" ( class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</a>
	   </td>
	   </tr>
    }

</table>
@section scripts{
	<script>
    $(function () {
        var SuccessMessage = '["Success"]'
        if (SuccessMessage != '')
            alertify.success(SuccessMessage);

    });

    function Delete(id) {
        alertify.confirm('Warning !!', 'Are You Sure To Delete This Record ?', function () {
            window.location.href = '@Url.Action("Remove","Product")/' + id;
        }, null);
    }
	</script>

}