@model IEnumerable<GameCenterMVC.Models.Client>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<link href="~/Content/Table.css" rel="stylesheet" />
<h2>Manage Members </h2>
<hr />
@*<th>
	<a href="@Url.Action("Create","Client")" asp-action="Create" class="btn btn-primary text-white"> <i class="fa fa-plus-circle"></i> New Member</a>
	</th>
		.Action("Create","Client")" asp-action="Create" class="btn btn-primary text-white"> <i class="fa fa-plus-circle"></i> New Member</a>
		</th>
	@if (Model.Count() == 0)
	{
		<h2>No Data</h2>
	}
	else
	{
		<table class="table">
			<tr>
				<th> @Html.DisplayNameFor(model => model.ClientID)</th>
				<th>
					@Html.DisplayNameFor(model => model.InsertBy)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.InsertDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.UpdateBy)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.UpdateDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.LastName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PersonalID)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Address)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Birthday)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PhoneNumber)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Email)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Username)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Password)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Balance)
				</th>
				<th>
						@Html.DisplayNameFor(model => model.IsActive)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.ActiveDate)
					</th>
				<th></th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(model => item.ClientID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.InsertBy)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.InsertDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UpdateBy)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UpdateDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LastName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PersonalID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Address)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Birthday)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PhoneNumber)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Username)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Password)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Balance)
					</td>
					<td>
							@Html.DisplayFor(modelItem => item.IsActive)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ActiveDate)
						</td>
					<td>
							@Html.ActionLink("Edit", "Edit", new { id = item.ClientID }) |
							@Html.ActionLink("Details", "Details", new { id = item.ClientID }) |
							@Html.ActionLink("Delete", "Delete", new { id = item.ClientID })
						</td>
					<td>
						@Html.ActionLink("Update", "Update", new { id = item.ClientID }, new { @class = "btn btn-warning" })
						<a onclick="Delete(@item.ClientID)" ( class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</a>
					</td>
				</tr>
			}

		</table>*@
	<div class="top-buffer"></div>
<div class="panel panel-primary">
	<div class="panel-heading panel-head"></div>
    <div class="panel-body">
        <div class="btn-group">
            <a href="@Url.Action("Create","Client")" , class="btn btn-primary">
                <i class="fa fa-plus-circle"></i>  Add Member
            </a>
        </div>
        <hr />
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed alert-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>PersonalID</th>
                    <th>Address</th>
                    <th>Birthday</th>
                    <th>PhoneNumber</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ClientID)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.PersonalID)</td>
                            <td>@Html.DisplayFor(modelItem => item.Address)</td>
                            <td>@Html.DisplayFor(modelItem => item.Birthday)</td>
                            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Username)</td>
                            <td>@Html.DisplayFor(modelItem => item.Password)</td>
                            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                            <td>
                                <a href="@Url.Action("Update", "Client", new { id = item.ClientID }) "
                                   class="btn btn-info">
                                    <i class="fa fa-edit"></i>  Edit
                                </a>
                                <a onclick="Delete(@item.ClientID)" ( class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</a>
                                @*<i class="glyphicon glyphicon-trash"></i>  Delete*@

                            </td>
                        </tr>
                    }


                }
                else
                {
                    <h2>No Data</h2>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts{
	<script>
    $(function () {
        var SuccessMessage = 'Success'
        if (SuccessMessage != '')
            alertify.success(SuccessMessage);

    });

    function Delete(id) {
        alertify.confirm('Warning !!', 'Are You Sure To Delete This Record ?', function () {
            window.location.href = '@Url.Action("Remove","Client")/' + id;
        }, null);
    }
	</script>

}
